<h3>Sign In</h3>
<form class="ui form" [formGroup]="signinForm" (ngSubmit)="signIn()">
    <app-input inputType="text" label="Username" [control]="signinForm.get('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="signinForm.get('password')"></app-input>

    
    <div *ngIf="signinForm.errors" class="ui red basic label">
        <p *ngIf="signinForm.errors['credentials']">
            Invalid username or password        
        </p>
    </div>
    
    <div>
        <button class="ui submit button primary">Submit</button>
    </div>
</form>